* { margin: 0; padding: 0; list-style:none; text-decoration:none}

.header { width:1160px; height:80px; margin:0 auto;}

.logo{ float:left;margin-top: 10px;}

.nav{ float:left;margin-left:40px}
.nav li {float:left;position: relative;}
.nav li a {display: block; line-height: 80px; padding: 0 25px; font-size: 16px; color: #333; position: relative; z-index: 3;}
.nav li:hover a{ color: #009ee6;}



.tel { float:right;text-align: right;margin-top: 15px;}
.tel p {font-size: 14px; color: #666;}
.tel span{font-size: 22px; color: #333;}
