* { margin: 0; padding: 0; list-style:none; text-decoration:none}

.title {margin-top: 80px;}
.title h3{ font-size: 30px; color: #333; font-weight: 100;}
.title p{ font-size: 14px; color: #888;margin-top: 5px;text-transform: uppercase;}
.title b{display: block;width: 70px;height: 2px;background: #444;margin: 0 auto;margin-top: 10px;}

.header { width:1160px; height:80px; margin:0 auto;}

.logo{ float:left;margin-top: 10px;}

.nav{ float:left;margin-left:40px}
.nav li {float:left;position: relative;}
.nav li a {display: block; line-height: 80px; padding: 0 25px; font-size: 16px; color: #333; position: relative; z-index: 3;}
.nav li:hover a{ color: #009ee6;}

.down {width: 150px;background: #dedede;border-top: 2px solid #009ee6;display: none;}
.down .list {height: 40px;line-height: 40px;}
.list .box{width: 10px; height: 10px; border-radius: 50%; border: 2px solid #999;float: left; margin-top: 13px;margin-left: 5px;}
.list p{margin-left: 10px;float: left;color: aqua;}

.list:hover  {background: #666;}
.list:hover p{color: bisque;}
.list:hover .box{border: solid bisque;}

.nav li:hover .down{display: block;}

.tel { float:right;text-align: right;margin-top: 15px;}
.tel p {font-size: 14px; color: #666;}
.tel span{font-size: 22px; color: #333;}


/**
海报区域
**/
@keyframes banner {
    0% {top: 80px;}
    50% {top: 140Px;}
    100% {top: 80px;}
}
.banner {width: 100%; height: 680px; background: url(../images/banner.png) no-repeat center; position: relative;}
.banner img{ position:absolute;right: 10%; top: 80px;animation: banner 6s linear infinite;}


/**
产品区域
**/
.pro{ width: 1250px; height: 620px; margin: 0 auto;background: #ccc;text-align: center;overflow: hidden;}



.pro_con {width: 1250px;height: 350px;margin-top: 40px;}
.pro_con li{width: 300px; height: 350px;position: relative;float: left;}
.pro_con .black{ width: 300px;height: 350px;position: absolute;left:0; top:0;}
 
.black h4 {font-size: 22px;color: #fff;font-weight: 100;margin-top: 280px;}

/**
公司简介
**/
.about{width: 100%; height: 400px; margin: 0 auto;background: blue;text-align: center;overflow: hidden;margin-top: 10px;}
.about .title h3{  color: white;}
.about .title p{ color: white;}
.about .title b{background: white;}
.profile p{color: #fff;text-align: center;margin-left: 300px;margin-right: 300px;margin-top: 10px;}




